/* Tables will be like forms */
table {
    border-collapse: collapse;
    border: 1px solid;
}
td {
   border: 1px solid;
   padding: 5px;
}
td input, td select {
   width: 100%;
   border: none;
}
td label {
    display: block;
    width: 15em;
}
th {
   background-color: #bbb;
}
td {
   background-color: #dedede;
}
td.number {
   background-color: #eee;
}

/* Td colors depending of if it's editable, edited or neither */
td.editable, td.number.editable {
    background-color: #fff;
}
td.editable input, td.editable select {
    background: none;
}
td.editable.edited, td.number.editable.edited {
    background-color: #cfc;
}
 
/* Hide focus */
textarea:focus, input:focus, select:focus {
   outline: none;
}

/* Hide spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
   -moz-appearance:textfield; /* Firefox */
}

/* Align numbers in tables to the right */
td.number span, td.number input, td.number select {
   text-align: right;
}
/* format numbers in tables */
td.number span, td.number input, td.number select {
   display: block;
   min-width: 12em;
   font-family: Arial;
   font-size: 14px;
   padding: 0px;
}

/* Details */
select.price-select {
   font-size: smaller;
   width: 25em;
}
